:root {
  /* 字体相关 */
  font-size: 14px;
  font-family: cursive, auto;
  line-height: 1.5;
  font-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 14px; /* 中等屏幕 */
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px; /* 大屏幕 */
  }
}
